@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
a {
    color: green;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    
}
img {
    width: 300px;
    margin: 30px;
}
img:hover {
    width: 400px;
    margin: 0;
}
a:hover {
    color:lime;
    text-decoration: none;

}